li.tab.bible-tab role="presentation" data-tab-id="#{tab_id}" class="#{css_class}"
  a.tab-title> aria-controls="#{tab_id}" data-toggle="tab" href="##{tab_id}" role="tab" King James Bible

  span< style="position: absolute;right: 5px;top: 10px;"
    a.delete-tab href="#" data-tab-id="#{tab_id}" x