/ #book-chapters-menu.hidden
/   .row
/     - @chapter.book_chapters.each do |chapter|
/       .col-xs-2
/         = link_to chapter.number, book_chapter_path(book_id: @chapter.book_permalink, id: chapter.number), remote: true