#content data-next-path="#{book_chapter_path(book_id: @chapter.next.book_permalink, id: @chapter.next.number)}" data-prev-path="#{book_chapter_path(book_id: @chapter.next.book_permalink, id: @chapter.prev.number)}"
  = render 'show'