@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/breadcrumbs";
@import "bootstrap/navs";
@import "bootstrap/utilities";

.book{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  height: 34px;
  border: 1px solid;
  text-align: center;
  &:hover{
    background: darkgray;
  }
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: sub;
  }
}

a.chapter, a.verse{
  width: 50px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  margin-bottom: 10px;
  &:hover{
    background: darkgray;
  }
}

span.read{
  font-size: 19px;
}

ol.chapter{
  li{
    margin-top: 10px;
    &:hover{
      cursor: hand;
      span.text{
        border-bottom: 1px dotted blue;
      }
    }
  }
}

a.prev, a.next {
  display: none;
}

@media (min-width: 768px) {
  a.prev {
    display: inline;
    position: fixed;
    right: 50px;
    font-size: 45px;
  }

  a.next {
    display: inline;
    position: fixed;
    right: 15px;
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  h1{
    font-size: 23px;
  }
  ol.breadcrumb {
    font-size: 14px;
  }
  .book{
    font-size: 13px;
  }
}