@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/list-group";
@import "bootstrap/glyphicons";

body{
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

#books-nav{
  padding-top: 5px;
  background: white;
  z-index: 10;
  li{
    .h1{
      margin-top: 2px;
      margin-right: 10px;
      font-size: 31px;
    }
  }
}

a.prev{
  position: fixed;
  top: 50%;
  left: 0;
  font-size: 34px;
  text-decoration: none;
}

a.next{
  position: fixed;
  top: 50%;
  right: 0;
  font-size: 34px;
  text-decoration: none;
}

.book{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  height: 34px;
  border: 1px solid;
  text-align: center;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: sub;
  }
}

a.chapter, a.verse:not(.search-result){
  width: 60px;
  height: 60px;
  border: 1px solid;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  margin-bottom: 10px;
  z-index: 1000;
}

ul.verses, ul.chapters{
  li.is_stuck{
    position: fixed;
    top: 36px !important;
    left: 10px;
  }
  li.read{
    a{
      background: white;
    }
  }
}

span.read{
  font-size: 19px;
}

ol.verses{
  li{
    margin-top: 5px;
    span.text:hover{
      cursor: pointer;
      border-bottom: 1px dotted blue;
    }
    a.verse-link{
      img{ margin-bottom: 6px; }
    }
  }
}

.is_stuck{
  width: 98% !important;
}

.selected{
  background: yellow;
}

.glow {
  animation: glow .7s infinite alternate;
  -webkit-animation-name:             glow;
  -webkit-animation-duration:         .7s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  alternate;
}

@keyframes glow {
    to {
        background: yellow;
    }
}

@-webkit-keyframes glow {
    to {
        background: yellow;
    }
}

@media (max-width: 768px) {
  #books-nav{
    li{
      .h1{
        font-size: 17px;
        margin-top: 15px;
      }
    }
  }
  h1{
    font-size: 22px;
  }
  ol.breadcrumb {
    font-size: 12px;
  }
  .book{
    font-size: 13px;
  }
  .sticky{
    li:not(.tab) {
      font-size: 14px;
    }
  }
}