@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/alerts";
@import "bootstrap/close";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

body{
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

#site-container{
  padding-top: 20px;
}

div.alert{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

ul.nav-links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    display: inline;
    &:not(:first-child){
      &:before{
        content: ' | '
      }
    }
  }
}

footer{
  margin-bottom: 10px;
  z-index: 1000;
}