@import url(http://fonts.googleapis.com/css?family=Merriweather);

body{
  font-family: 'Merriweather', serif;
  font-size: 17px;
}

.hidden{
  display: none;
}

ul.nav-links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    display: inline;
    &:not(:first-child){
      &:before{
        content: ' | '
      }
    }
  }
}

footer{
  margin-top: 10px;
  position: fixed;
}