@import "wow_book";
@import "nouislider";

#bible{
  font-size: 12px;
  .credits{
    text-align: center;
    font-size: 27px;
    padding: 11px;
    margin-top: 60%;
  }
  .content{
    padding: 7px
  }
  .book{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 5px 0px 5px
  }
  .chapter{
    font-weight: bold;
    font-size: 15px;
    padding: 0px 5px 0px 5px
  }
  .page-title{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px 0px 5px
  }
  ol{
    margin-left: -10px;
  }
}
.cover{
  background: black;
  color: goldenrod;
  text-align: center;
  font-size: 30px;
  padding-top: 45%;
}

#slider-container{
  //display: inline-block;
  float: right;
  margin-top: 18px;
  #slider{
    height: 850px;
    background: rgba(218, 165, 32, 0.21);
  }
}

ol.verses{
  a {
    text-decoration: none;
    color: black;;
    &:hover{
      border-bottom: 1px dotted blue;
    }
  }
}

@media only screen and (min-width : 320px) {
  #jacket{
    width: 320px;
    height: 450px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  #jacket{
    width: 320px;
    height: 450px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #jacket{
    width: 320px;
    height: 450px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  #jacket{
    width: 320px;
    height: 450px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  #jacket{
    width: 1010px;
    height: 870px;
  }
}