@import "font-awesome";
@import "summernote";
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/glyphicons";
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/tooltip";
@import "bootstrap/modals";

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.book{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  height: 34px;
  border: 1px solid;
  text-align: center;
  font-size: 14px;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: sub;
  }
}

a.chapter{
  width: 60px;
  height: 60px;
  border: 1px solid;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  margin-bottom: 10px;
  z-index: 1000;
}

a.prev{
  position: fixed;
  top: 50%;
  left: 0;
  font-size: 34px;
  text-decoration: none;
}

a.next{
  position: fixed;
  top: 50%;
  right: 0;
  font-size: 34px;
  text-decoration: none;
}

.selected{
  background: yellow;
}

ol.verses{
  li.verse:hover{
    cursor: pointer;
    border-bottom: 1px dotted blue;
  }
}

span.likes{
  vertical-align: text-bottom;
}

ul.study-details{
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
  li{
    display: inline-block;
    color: #777777;
    font-size: smaller;
    &:not(:first-child):before{
      content: '•';
    }
  }
}